* {
    padding: 0;
    margin: 0;
}
.header{
    height: 32px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}
a{
    text-decoration: none;
    color: #000;
}

.left {
    float: left;

}
.left .img {
    width: 20px;
    height: 20px;
    /* display: inline-block; */
    vertical-align: baseline;
}
.left span {
    margin-left: 15px;
}
.line {
    text-decoration: underline;
}
.right {
    float:right;
}
.right a {
    margin-right: 15px;
    position: relative;
    height: 32px;
    line-height: 32px;
    /* margin-left: 19px; */
    color: #555;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
}
.right .button{
    width: 86px;
    height: 32px;
    line-height: 32px;
    color: white;
    background: #38f;
    background: #398bfb;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #398bfb;
    text-decoration: none;
}
.right .set {
    font-weight: normal;
}

.content{
    position: relative;
    width: 100%;
}
.icon img {
    position: absolute;
    margin-top: 100px;
    display: block;
    left:50%;
    margin-left: -106px;
}

.search .sea-btn {
    position: absolute;
    top:200px;
    height: 20px;
    padding: 9px 7px;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    /* border-right: 0; */
    vertical-align: top;
    
}

