/* body{
    position: relative;
} */
.header{
    position: fixed;
    width: 100%;
    /* height: 7%; */
    height: 34px;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    padding-bottom: 8px;

}
.footer{
    position: fixed;
    bottom: 0;
    z-index: 888;
    background-color: #fff;
    /* left: 0; */
}
.mui-content {
    /* position: relative; */
    background-color: #fff; 
    padding: 0 8px;
    padding-bottom: 48px;
    padding-top: 38px;
    /* padding-top: 14%; */
}

.header {
    margin: 0px auto;
}

.header span {
    position: absolute;
    top: 12px;
    /* left: 8px; */
    left: 2%;
    font-weight: thin;
    /* display: inline-block; */
}
.icon-search:before {
    font-size:35px;
}

.search {
    width: 96%;
    display: block;
    margin: 8px auto;
    height: 28px;
    text-align: left;
    border-radius: 14px;
    outline: none;
    border: none;
    background-color: #f2f2f2;
    font-size: 12px;
    text-indent: 3em;

}

.top-title {
    padding: 3px 0;
}

.tu {
    color: #000;
}

.ting {
    font-size: 14px;
    color: #969696;
    margin-left: 15px;
}

/* .temai {
    height: 15%;
} */
.temai img {
    width: 100%;
    height: 100%;
}

.sort ul {
    display: flex;
    padding: 8px 0;
}

.sort li {
    flex: 1;
    text-align: center;
}
.sort li img {
    width: 30%;
    height: 50%;
}
.sort li p {
    font-size: 12px;
}

/* --------------------- */
.photo ul {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
}

.photo li {
    width: 48%;
    /* height: 55px; */
}

.photo img {
    width: 100%;
}

.photo li {
    /* flex:1; */

}

h4 {
    font-size: 15px;
    margin: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 使用flex布局一行放两个 */
.list ul {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.list li {
    width: 50%;
    /* height: 60px; */
    height: 28%;
    line-height: 12px;
    margin-bottom: 8px;
    /* overflow: hidden; */
}

/* ----------------- */
.list li .img {
    /* display: block; */
    float: left;
    width: 30%;
}

.list li .img img {
    width: 100%;
}

.list li .des {
    float: right;
    width: 58%;
    padding: 5px;
}

.list .des p {
    font-size: 13px;
    color: #000;
    margin-bottom: 5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}

.list .des span {
    font-size: 10px;
    color:#909090;
}

.xuan {
    height: 30px;
    background-color: #f2f2f2;
    /* vertical-align: top; */
    overflow: hidden;

}

.xuan span {

    vertical-align: top;
    /* display: inline-block;
    margin: auto; */
    /* vertical-align: center; */
    line-height: 30px;
    font-size: 12px;
}

.footer{
    width: 100%;
    /* border-top: 1px solid #000; */
    margin-top: 8px;
    padding: 3px 0;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
    overflow: hidden;
}
.footer ul {
    overflow: hidden;
}
.nav{
    float: left;
    width: 25%;
    text-align: center;
}
.footer span {
    color: #929292;
}
.footer .active span {
    color: #FF9826;
}
.nav .iconfont{
    font-size: 18px;
}
.nav .word{
    /* display: inline-block; */
    display: block;
    font-size: 12px;
}

.mui-bar-tab .icon-user {
    position: relative;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 9%;
}

